{% extends 'base.html' %}
{% block title %}Productos{% endblock %}
{% block content %}
<h1>Productos</h1>
<p1>Nuestros productos están diseñados para brindar la máxima protección en seguridad informática. Ofrecemos desde firewalls avanzados hasta software de monitoreo inteligente, adaptados a las necesidades de cada negocio. Contamos con la solución ideal para proteger y optimizar tu empresa, sin importar su tamaño o sector.</p1>
<h2>
    <p>Servidores</p>
    <p>Firewalls</p>
    <p>Monitoreo</p>
    <p>Comunicaciones</p>
</h2>
{% endblock %}