{% extends 'base.html' %}
{% block title %}Servicios{% endblock %}
{% block content %}
<h1>Servicios</h1>
<p>Ofrecemos una amplia gama de servicios diseñados para proteger tu negocio en todos los niveles. Desde consultoría especializada hasta monitoreo continuo de tus sistemas, garantizamos la integridad y seguridad de tus datos, asegurando que tu empresa se mantenga protegida en todo momento.</p>
<p>
    <h3>Consultoría en Seguridad y Tecnología</h3>
    <p>Te asesoramos en la implementación de soluciones tecnológicas avanzadas que mejoren la seguridad y eficiencia de tus sistemas, abarcando desde la protección de datos hasta la optimización de infraestructura.</p>
</p>
<p>
    <h3>Monitoreo y Detección de Amenazas 24/7</h3>
    <p>Ofrecemos monitoreo continuo de tus redes y sistemas, tanto desde la perspectiva de seguridad como del rendimiento, detectando y solucionando problemas antes de que afecten tu operación.</p>
</p>
<p>
    <h3>Implementación de Infraestructura TI y Seguridad Integrada</h3>
    <p>Diseñamos e implementamos infraestructuras tecnológicas robustas y escalables que integran medidas de seguridad avanzadas, como firewalls, balanceadores de carga y redes optimizadas para el crecimiento de tu negocio.</p>
</p>
<p>
    <h3>Auditoría y Optimización de Procesos Tecnológicos</h3>
    <p>Realizamos auditorías exhaustivas de tus sistemas, asegurando no solo el cumplimiento de normativas de seguridad, sino también la eficiencia y capacidad de tu infraestructura tecnológica para soportar las demandas del mercado.</p>
</p>
{% endblock %}